<% @categories.each do |category|%>
<tr>
  <div class="flex justify-center items-center gap-2">
    <td> <%= content_tag(:span, category.title, class: "font-semibold") %> </td>
    <td> <%= link_to 'ðŸ‘€', category_path(category.id) %> </td>
    <td> <%= link_to 'âœï¸', edit_category_path(category.id) %> </td>
    <td> <%= button_to 'ðŸ—‘', category_path(category.id), method: :delete %> </td>
  </div>
</tr>
<% end %>