<%= f.label :name %> <br/>
<%= f.text_field :name %>

<p>
  <%= f.submit "Save", class: "border border-blue-700 bg-blue-500 text-white rounded-lg" %>
  <%= link_to 'Back', index_article_path, class: "border border-2" %>
</p>
